
main{
    border: 1px solid black;
    margin: auto;
    height: 35rem;
    width: 30%;
}

div:hover > p {
    display: block;
    color: wheat;
    background-color: red;
    width: 200px;
}

#historico{
    border: 1px solid black;
    margin: auto;
    height: 65%;
    width: 100%;
    overflow-y: auto;

}

#titulo {
    background-color:lightgray ;
    border: 1px solid black;
    margin: auto;
    text-align: left;
    height: 50px;
    width: 100%;
}

#enviar{
    display: flex;
    background-color: lightgray;
    border: 1px solid black;
    margin: auto;
    padding: 25px;
    height: 91px;
    width: 60%; 


}

#area {
    width: 312px;
    height: 100px;
}

.nome{
width: 79px;
height: 36px;
background: #0066CC;
border-radius: 10px;
border-color: white;
}

.mensagens{
    display: block;
    margin-bottom: 26px;
    border: 1px solid black;
    width: 100%;
    height: 26px;
}

.editar{
    width: 47px;
    height: 26px;
    background: #F7A75D;
    margin-left: 77%;

}

.excluir{
    width: 52px;
    height: 26px;
    background: #F75D5D;
}

.postar{
    width: 79px;
    height: 36px;
    background: #0066CC;
    border-radius: 10px;
    border: white;
    color: white;


}